#options-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 2rem;
}

.section {
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
}

.section input {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding-left: 12px;
    font-size: 1.2rem;
}